.wid{
  width: 100%;
  
}

.link{
  color:  #1aff1a  ;
  font-size: 20px;
  padding-left: 7px;
  padding-right: 7px;
}

.dropdown-item{
  
  font-size: x-large;
}

.navbar-brand{
  font-size: 25px;
}

#add{
  color: green;
}

#del{
  color: red;
}

#edit{
  color: blue;
}


