
<div class="pic">
<div class="size zoom">
<div style="display: block; float: right;">
  <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"></canvas>
</div>
</div>
</div>

<div class="size">
  <div class="size zoom">
  <div style="display: block">
    <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  </div>
</div>
</div>
<!--
<div class="container">

  <div class="contact-method">
    <i class="fas fa-mobile-alt"></i>
    <span>78 active</span>
  </div>
  <div class="contact-method">
    <i class="fas fa-map-marker-alt"></i>
    <span>New York US</span>
  </div>
</div>-->
