<div class="pic">
<div class="con">
<div class="zoom">
<ul id="myUL">
  <li><span class="caret">⮞Chennai</span>

    <ul class="nested">
      <br>
      <li><span class="caret">↳Rise</span>
        <ul class="nested">
          <br>
          <li><span class="caret">→Floor1</span>
            <br>
            <ul class="nested">
              <br>
            <li> <a href='https://maps.google.com/?q=23.22,88.32&z=8'>⧐Water 1 </a> </li>
            <li><a href='/map'>⧐Water 2 </a></li>
            <li><a href='/map'>⧐Water 3</a></li>
            <li><a href='/map'>⧐Water 4</a></li>
            <li><a href='/map'>⧐Temp 1</a></li>
            <li><a href='/map'>⧐Temp 2</a></li>
            <li><a href='/map'>⧐Temp 3</a></li>
            <li><a href='/map'>⧐Temp 4</a></li>
          </ul>
          </li>
          <br>
          <li><span class="caret">→Floor2</span>
            <br>

            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Water 1 </a> </li>
            <li><a href='/map'>⧐Water 2 </a></li>
            <li><a href='/map'>⧐Water 3</a></li>

            <li><a href='/map'>⧐Temp 1</a></li>
            <li><a href='/map'>⧐Temp 2</a></li>
            <li><a href='/map'>⧐Temp 3</a></li>
            <li><a href='/map'>⧐Temp 4</a></li>
            </ul>
          </li>
          <br>
          <li><span class="caret">→FLoor3</span>
            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Water 1 </a> </li>
            <li><a href='/map'>⧐Water 2 </a></li>
            <li><a href='/map'>⧐Water 3</a></li>
            <li><a href='/map'>⧐Water 4</a></li>
            <li><a href='/map'>⧐Temp 1</a></li>
            <li><a href='/map'>⧐Temp 2</a></li>
            <li><a href='/map'>⧐Temp 3</a></li>

            </ul>
          </li>


        </ul>
      </li>
<br>
      <li><span class="caret">↳VLSI</span>
        <ul class="nested">
          <br>
          <li><span class="caret">→Room1</span>
            <br>
            <ul class="nested">
              <br>
            <li> <a href='/map'>⧐Humidity 1 </a> </li>
            <li><a href='/map'>⧐Humidity 2 </a></li>
            <li><a href='/map'>⧐Humidity 3</a></li>
            <li><a href='/map'>⧐Humidity 4</a></li>
            <li><a href='/map'>⧐Pressure 1</a></li>
            <li><a href='/map'>⧐Pressure 2</a></li>
            <li><a href='/map'>⧐Pressure 3</a></li>
            <li><a href='/map'>⧐Pressure 4</a></li>
          </ul>
          </li>
          <br>
          <li><span class="caret">→Room2</span>
            <br>

            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Humidity 1 </a> </li>
            <li><a href='/map'>⧐Humidity 2 </a></li>
            <li><a href='/map'>⧐Humidity 3</a></li>

            <li><a href='/map'>⧐Pressure 1</a></li>
            <li><a href='/map'>⧐Pressure 2</a></li>
            <li><a href='/map'>⧐Pressure 3</a></li>
            <li><a href='/map'>⧐Pressure 4</a></li>
            </ul>
          </li>
          <br>
          <li><span class="caret">→Room3</span>
            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Humidity 1 </a> </li>
            <li><a href='/map'>⧐Humidity 2 </a></li>
            <li><a href='/map'>⧐Humidity 3</a></li>
            <li><a href='/map'>⧐Humidity 4</a></li>
            <li><a href='/map'>⧐Pressure 1</a></li>
            <li><a href='/map'>⧐Pressure 2</a></li>
            <li><a href='/map'>⧐Pressure 3</a></li>

            </ul>
          </li>


        </ul>
      </li>

    </ul>
  </li>
<br>
  <li><span class="caret">⮞Bangalore</span>

    <ul class="nested">
      <br>
      <li><span class="caret">↳Rise</span>
        <ul class="nested">
          <br>
          <li><span class="caret">→Floor1</span>
            <br>
            <ul class="nested">
              <br>
            <li> <a href='/map'>⧐Water 1 </a> </li>
            <li><a href='/map'>⧐Water 2 </a></li>
            <li><a href='/map'>⧐Water 3</a></li>
            <li><a href='/map'>⧐Water 4</a></li>
            <li><a href='/map'>⧐Temp 1</a></li>
            <li><a href='/map'>⧐Temp 2</a></li>
            <li><a href='/map'>⧐Temp 3</a></li>
            <li><a href='/map'>⧐Temp 4</a></li>
          </ul>
          </li>
          <br>
          <li><span class="caret">→Floor2</span>
            <br>

            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Water 1 </a> </li>
            <li><a href='/map'>⧐Water 2 </a></li>
            <li><a href='/map'>⧐Water 3</a></li>

            <li><a href='/map'>⧐Temp 1</a></li>
            <li><a href='/map'>⧐Temp 2</a></li>
            <li><a href='/map'>⧐Temp 3</a></li>
            <li><a href='/map'>⧐Temp 4</a></li>
            </ul>
          </li>
          <br>
          <li><span class="caret">→FLoor3</span>
            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Water 1 </a> </li>
            <li><a href='/map'>⧐Water 2 </a></li>
            <li><a href='/map'>⧐Water 3</a></li>
            <li><a href='/map'>⧐Water 4</a></li>
            <li><a href='/map'>⧐Temp 1</a></li>
            <li><a href='/map'>⧐Temp 2</a></li>
            <li><a href='/map'>⧐Temp 3</a></li>

            </ul>
          </li>


        </ul>
      </li>
<br>
      <li><span class="caret">↳VLSI</span>
        <ul class="nested">
          <br>
          <li><span class="caret">→Room1</span>
            <br>
            <ul class="nested">
              <br>
            <li> <a href='/map'>⧐Humidity 1 </a> </li>
            <li><a href='/map'>⧐Humidity 2 </a></li>
            <li><a href='/map'>⧐Humidity 3</a></li>
            <li><a href='/map'>⧐Humidity 4</a></li>
            <li><a href='/map'>⧐Pressure 1</a></li>
            <li><a href='/map'>⧐Pressure 2</a></li>
            <li><a href='/map'>⧐Pressure 3</a></li>
            <li><a href='/map'>⧐Pressure 4</a></li>
          </ul>
          </li>
          <br>
          <li><span class="caret">→Room2</span>
            <br>

            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Humidity 1 </a> </li>
            <li><a href='/map'>⧐Humidity 2 </a></li>
            <li><a href='/map'>⧐Humidity 3</a></li>

            <li><a href='/map'>⧐Pressure 1</a></li>
            <li><a href='/map'>⧐Pressure 2</a></li>
            <li><a href='/map'>⧐Pressure 3</a></li>
            <li><a href='/map'>⧐Pressure 4</a></li>
            </ul>
          </li>
          <br>
          <li><span class="caret">→Room3</span>
            <ul class="nested">
              <br>
              <li> <a href='/map'>⧐Humidity 1 </a> </li>
            <li><a href='/map'>⧐Humidity 2 </a></li>
            <li><a href='/map'>⧐Humidity 3</a></li>
            <li><a href='/map'>⧐Humidity 4</a></li>
            <li><a href='/map'>⧐Pressure 1</a></li>
            <li><a href='/map'>⧐Pressure 2</a></li>
            <li><a href='/map'>⧐Pressure 3</a></li>

            </ul>
          </li>


        </ul>
      </li>

    </ul>
  </li>


</ul>
</div>
</div>

</div>
