<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
  <div class="pic1">
    <app-head></app-head>
    
    <app-dash></app-dash>
    
    <div class="bigbox1">
    
      <div class="box1"> <app-tree></app-tree></div>
      <div class="box2"> <router-outlet></router-outlet></div>
      </div>
    </div>
</nav>


<router-outlet></router-outlet> 



