th {
    text-align: left;
  }

  th, td {
    padding: 15px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table {
    border-spacing: 5px;
    width: 100%;
  }

  tbody{
    height:800px;
    overflow-y:scroll;
    color: #44d62c;
     
    width: 120%;
    display: block;
  
    
    }
  
  


    .bigbox1 {
      width: 95%;
      padding: 0px;
      color: #44d62c;
      
      font-size: 20px;
      text-align: left;
      margin:5px auto 5px;
      font-weight: 500;
      display: flex;
      font-family: inherit;
      height: auto;
  }
    
  .box1{
      width:50%;
      height: auto;
      float: left;
      font-family: inherit;
      font-weight: 400;
      font-size: 18px;
      color: #44d62c;
      background-color: #343a40;
      display: flexbox;
      margin-left: 0%;
  }
